{% extends "base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block hudud %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="general">
    <div class="container">
        <div class="sectionHeader">
            <div class="textbox">
                <h1>Muhokama uchun</h1>
                <div class="search">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M9.67624 1.66666C5.25265 1.66666 1.66663 5.17348 1.66663 9.49937C1.66663 13.8253 5.25265 17.3321 9.67624 17.3321C11.5682 17.3321 13.3069 16.6906 14.6774 15.6179L17.2808 18.1572L17.3501 18.2155C17.5918 18.3904 17.9345 18.3705 18.1532 18.1561C18.3938 17.9202 18.3933 17.5383 18.1521 17.303L15.5793 14.7936C16.8874 13.3995 17.6859 11.5406 17.6859 9.49937C17.6859 5.17348 14.0998 1.66666 9.67624 1.66666ZM9.67625 2.87311C13.4185 2.87311 16.4522 5.83979 16.4522 9.49937C16.4522 13.159 13.4185 16.1256 9.67625 16.1256C5.93401 16.1256 2.90033 13.159 2.90033 9.49937C2.90033 5.83979 5.93401 2.87311 9.67625 2.87311Z"
                              fill="currentColor"/>
                    </svg>
                    <form action="">
                        <input type="text" placeholder="Darsliklar bo’yicha izlash">
                    </form>
                </div>
            </div>
        </div>
        <div class="sectionBody">
            <div class="left">
                <div class="buttonBox" id="buttonBox">
                    <button class="btnLeft active" value="Barchasi">Barchasi</button>
                    <button class="btnLeft" value="3.">Boshlang‘ich professional ta'lim</button>
                    <button class="btnLeft" value="4.">O‘rta professional ta'lim</button>
                    <button class="btnLeft" value="5.">O‘rta-maxsus professional ta'lim</button>
                </div>
                <a href="#top" class="totop">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M11.1771 20.2928C11.2321 20.6922 11.5795 21 11.9999 21C12.4585 21 12.8302 20.6337 12.8302 20.1818L12.8302 5.80007L18.0813 10.9953L18.1743 11.0747C18.4989 11.313 18.9602 11.2876 19.2556 10.9977C19.5805 10.6788 19.5816 10.1608 19.258 9.84062L12.5996 3.25226C12.5614 3.21304 12.5194 3.17756 12.474 3.14642C12.1498 2.92336 11.6999 2.95478 11.4111 3.24067L4.74193 9.84067L4.66174 9.9326C4.42125 10.2534 4.44905 10.7079 4.74446 10.9977C5.06942 11.3166 5.59515 11.3155 5.91871 10.9953L11.1696 5.79877L11.1696 20.1818L11.1771 20.2928Z"
                              fill="currentColor"/>
                    </svg>
                </a>
            </div>
            <div class="right main1">
                <div class="rightHeader">
                    <div class="text">
                        <h1>Kasb va mutaxassisliklar</h1>
                        <span id="main2infoNum">{{ size }}</span>
                    </div>
                </div>
                <div class="row" id="id_basic">
                    {% for i in muhokama %}
                    <div class="col">
                        <a href="{% url 'basic_app:muhokama_detail' i.id %}" class="card">
                            <div class="textbox">
                                {% if i.get_id|slice:'1' == '3' %}
                                <p>Kasb</p>
                                <h2>{{i.get_id}} - {{i.name}}</h2>
                                <span>Boshlang‘ich professional ta'lim</span>
                                {% elif i.get_id|slice:'1' == '4' %}
                                <p>Mutaxasislik</p>
                                <h2>{{i.get_id}} - {{i.name}}</h2>
                                <span>O‘rta professional ta'lim</span>
                                {% elif i.get_id|slice:'1' == '5' %}
                                <p>Mutaxasislik</p>
                                <h2>{{i.get_id}} - {{i.name}}</h2>
                                <span>O‘rta-maxsus professional ta'lim</span>
                                {% endif %}
                            </div>
                            <div class="imgbox">
                                <div>
                                    <img src="{{i.img.url}}" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="more">
                    <button class="more1" id="muhokoma-button">
                        Ko'proq ko'rsatish
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static 'slick/slick.js' %}" type="text/javascript " charset="utf-8"></script>
<script src="{% static 'js/section.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/main1.js' %}"></script>
<script src="{% static 'js/ajax_muhokama.js' %}"></script>
<script src="{% static 'js/ajax_sign_up.js' %}"></script>
{% endblock %}